# Standard Gitattributes
* text=auto

# C# Source Files
*.cs text eol=crlf

# MSBuild Files
*.csproj text eol=crlf
*.sln text eol=crlf

# Markdown and Yaml
*.md text eol=lf
*.yml text eol=lf
*.json text eol=lf

# Binaries
*.dll binary
*.lib binary
*.exe binary
*.so binary
*.dylib binary
